// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

body {
    background: lightslategray;
    width: auto;
}

#project-cards, #about-div, #info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#connect-div {
    height: 80vh;
}
#about-div {
    margin: 10px;
}

#github, #linkedin, #resume {
    height: 50px;
    margin: 20px;
}

#about-img {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.proj-card {
    margin: 5px;
}

#connect-div, footer {
    text-align: center;
}

#logo {
    float: left;
    /* width: 250px;
    height: 90px; */
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    color: lightgray;
  }
  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
    justify-content: end;
}
  
nav a:first-child {
    border-left: 0 none;
}
  
footer {
    color: lightgray;
    padding: 5px;
    width: auto;
}

#masthead {
    height: 80px;
    vertical-align: middle;
    padding-top: 0;
    width: auto;
}

.proj-buttons {
    padding-top: 5px;
}

.proj-img {
    max-width: 300px;
    height: 200px;
}
#nav-buttons {
    float: right;
}

#about-div, #portfolio-div, #connect-div {
    width: auto;
    text-align: center;
}

.anchor {
    display: block;
    height: 56px;
    margin-top: -56px;
    visibility: hidden; 
}

.card-title {
    
}

.card-text {
    text-align: left;
}

#info p {
    text-align: left;
}

.button-group {
    float: bottom;
}

#cover-img {
    width: 100%;
}

.jumbotron {
    min-height: 750px;
    background: url("../images/bg2.jpeg") ;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.home-img {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron h1, .jumbotron p {
text-align: center;
font-weight: bolder;
color: silver;
text-shadow: -1px 1px 0 black;

}