body {
    background: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

#project-cards, #about-div, #info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#connect-div {
    height: 80vh;
}

#about-div {
    margin: 10px;
}

#github, #linkedin, #resume {
    height: 50px;
    margin: 20px;
}

#about-img {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.proj-card {
    margin: 5px;
    background: rgba(211, 211, 211, 0.788);
    display: flex;
}

#connect-div, footer {
    text-align: center;
}
  
footer {
    color: lightgray;
    padding: 5px;
    width: auto;
    margin: 0;
}

#masthead {
    height: 80px;
    vertical-align: middle;
    padding-top: 0;
    width: auto;
}

.proj-buttons {
    padding-top: 5px;
}

.proj-img {
    max-width: 300px;
    height: 200px;
}


#about-div, #portfolio-div, #connect-div {
    width: auto;
    text-align: center;
}

.anchor {
    display: block;
    height: 56px;
    margin-top: -56px;
    visibility: hidden; 
}

.card-text {
    text-align: left;
}

#info p {
    text-align: left;
}

#cover-img {
    width: 100%;
}

.jumbotron {
    min-height: 750px;
    background: url("../images/bg2.jpeg") ;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.home-img {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-name {
    color: lightgray;
    text-shadow: -1px 1px 0 black;
    font-size: 75px;
    font-weight: bolder;
}

#description {
    color: lightgray;
    text-shadow: -1px 1px 0 black;
    font-size: 20px;
}

.sect-header {
    font-size: 40px;
    color: lightgray;
    font-weight: bold;
    text-shadow: -1px 1px 0 black;
}

.name-logo {
    float: right;
    margin: 0;
}

.modal-body {
    text-align: left;
}

.card-links {
    margin-bottom: 0;
    vertical-align: text-bottom;
}

.card-title {
    font-weight: bold;
}

.centered {
    padding: 20px;
}